
/* The actual timeline (the vertical ruler) */

@media (max-width: 768px) {
  .angled-letter .prop, .angled-letter-a .prop, .angled-letter-r .prop{
    font-size: 5em; /* Adjust font size for smaller screens */
}
}
#proposal-tag {
  margin-top:20px;
  margin-right:-20px;
}
#proposal-location{
  margin-right:-20px;
}
.timeline::after {
    bottom: -5%;
  }
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

/* src/components/Proposal.css */

/* Masonry Grid */
.masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style the items */
.masonry-item {
  margin-bottom: 30px; /* space between items */
  width: 100%;
  object-fit: cover;
}
