/* styles.css */

/* ~~~~~~~~~~Text Formatting~~~~~~~~~~*/
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 800 */

.changa-style {
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* General styling */
body, html {
    margin: 0;
    padding: 0;
    background-color: #f5dfad; /* Set the background color */
    font-family:  "Changa", sans-serif; /* Default font family */
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}

/* Section styling */
.section {
    padding: 80px 20px; /* Add padding */
    text-align: center; /* Center text */
}

/* Heading Font */
h1, h2, h3, h4, h5, h6 {
    font-family:  "Changa", sans-serif; /* Set heading font family */
    font-weight: 400;
    font-style: normal;
}
/*-----------HEADER-----------------*/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header appears above other content */
}

/*--------------Home----------------*/
#home {
  position: relative; /* Ensure the section is positioned relative */
}

.fullscreen-section {
  position: relative;
  width: 100vw;
  height: auto;
  
  /* Remove or adjust other styles as needed */
}

/* Ensure the container has relative positioning */
.background-image {
  position: relative;
  z-index: 1;
}

/* Set the background image to cover 2x the viewport height */
.background-image img {
  width: 100%;
  min-height: 200vh;
  object-fit: cover;
  z-index: 1;
}


/* Scrollable images container */
.scrolling-images {
  position: absolute;
  /* Adjust positioning as needed */
  top: 30%; /* Example value */
  left: 10%; /* Example value */
  right: 10%; /* Example value */
  width: 100vw;
  height: 50vh;
  z-index: 2; /* Ensure images are above other content */
}

/* Adjust image styles as needed */
.scrolling-images img {
  position: absolute;
  width: 20%; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
  z-index: 2;
}
/* Positioning for specific images */
.plane {
  left: 10%; /* Adjust left position percentage for the plane */
  top: -30%; /* Adjust top position percentage for the plane */
}

.cloud:nth-of-type(1) { /* Left Cloud */
  right: 10%; /* Adjust right position percentage for cloud 1 */
  top: -10%; /* Adjust top position percentage for cloud 1 */
}

.cloud:nth-of-type(2) { /* Right Cloud */
  right: 10%; /* Adjust right position percentage for cloud 2 */
  top: -10%; /* Adjust top position percentage for cloud 2 */
}

.cloud:nth-of-type(3) { /* Top Center Cloud */
  right: 40%; /* Adjust right position percentage for cloud 3 */
  top: -47%; /* Adjust top position percentage for cloud 3 */
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.6s; /* Delay visibility change */
}
.show {
    opacity: 1;
    visibility: show;
    transition: opacity 0.5s ease, visibility 0s 0.6s; /* Delay visibility change */
}

/* Sticky styling */
.sticky {
    position: fixed;
    bottom: 50%; /* Center the button vertically */
    left: 50%; /* Center the button horizontally */
}
/* ---------------Heading------------ */
/* Sticky logo */
.sticky-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  align-items: center; /* Align items vertically */
}

.sticky-logo img {
  width: 50px; /* Adjust size as needed */
}

/* Sticky menu */
.sticky-menu {
  position: fixed;
  top: 0;
  right:0;
  z-index: 9999; /* Ensure the indicator is above other content */
  font-family: "Lora", serif;
  padding: 10px 20px; /* Add padding */
  margin: 0; /* Remove any margin */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}

.sticky-menu ul {
  list-style: none;
}

.sticky-menu li {
  display: inline-block;
  margin-right: 20px;
}

.sticky-menu a {
  text-decoration: none;
  color: black; /* Adjust color as needed */
}

/*change color */
.background_color_change {

    background-color:rgb(245,223,173,.4); /* Set the background color with 50% opacity */
    padding: 15px; /* Add padding */
    animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}

#rsvp {
  position: absolute;
  bottom: 50%; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  z-index: 4; /* Ensure the RSVP section appears on top of the background image */
}



.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden; /* Hide any content that overflows the overlay */
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
  z-index: 11;
}
.overlay h1 {
  text-align: center;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3vw; /* Adjust font size relative to viewport width */
}
.overlay img {
  width: 100%;
  min-height: 200vh;
  object-fit: cover;
  z-index: 10;
}

.fadeIn {
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}
.fadeOut {
    animation: fadeOut 1s ease forwards; /* Apply fade-in animation */
}
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity set to 0 */
    }
    to {
        opacity: 1; /* Fade in to full opacity */
    }
}

@keyframes fadeOut {
    from {
        opacity: 1; /* Start with opacity set to 0 */
    }
    to {
        opacity: 0; /* Fade in to full opacity */
    }
}
/*~~~~~~~~~~~~Fonts~~~~~~~~~~~~~~~~~~~~*/
.overlay h1 {
  font-size: 6em;
  font-family: "Aboreto", system-ui;
}

.overlay p,h2,h3,h4 {
  font-family: "Lora", serif;
  font-size: 1.5em;
}
h1 {
  font-family: "Aboreto", system-ui;

}
h2,h3,h4 {
  font-family: "Lora", serif;
}
p {
  font-family: "Trirong", serif;
  font-weight: 300;
  font-style: normal;
}
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.trirong-thin {
  font-family: "Trirong", serif;
  font-weight: 100;
  font-style: normal;
}

.trirong-extralight {
  font-family: "Trirong", serif;
  font-weight: 200;
  font-style: normal;
}

.trirong-light {
  font-family: "Trirong", serif;
  font-weight: 300;
  font-style: normal;
}

.trirong-regular {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: normal;
}

.trirong-medium {
  font-family: "Trirong", serif;
  font-weight: 500;
  font-style: normal;
}

.trirong-semibold {
  font-family: "Trirong", serif;
  font-weight: 600;
  font-style: normal;
}

.trirong-bold {
  font-family: "Trirong", serif;
  font-weight: 700;
  font-style: normal;
}

.trirong-extrabold {
  font-family: "Trirong", serif;
  font-weight: 800;
  font-style: normal;
}

.trirong-black {
  font-family: "Trirong", serif;
  font-weight: 900;
  font-style: normal;
}

.trirong-thin-italic {
  font-family: "Trirong", serif;
  font-weight: 100;
  font-style: italic;
}

.trirong-extralight-italic {
  font-family: "Trirong", serif;
  font-weight: 200;
  font-style: italic;
}

.trirong-light-italic {
  font-family: "Trirong", serif;
  font-weight: 300;
  font-style: italic;
}

.trirong-regular-italic {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
}

.trirong-medium-italic {
  font-family: "Trirong", serif;
  font-weight: 500;
  font-style: italic;
}

.trirong-semibold-italic {
  font-family: "Trirong", serif;
  font-weight: 600;
  font-style: italic;
}

.trirong-bold-italic {
  font-family: "Trirong", serif;
  font-weight: 700;
  font-style: italic;
}

.trirong-extrabold-italic {
  font-family: "Trirong", serif;
  font-weight: 800;
  font-style: italic;
}

.trirong-black-italic {
  font-family: "Trirong", serif;
  font-weight: 900;
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 700 */
/* Lora */
.lora-italic-regular> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;

  font-style: italic;
}

/* Comorant */
.cormorant-infant-light {
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-infant-regular {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-infant-medium {
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-infant-semibold {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-infant-bold {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-infant-light-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-infant-regular-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-infant-medium-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-infant-semibold-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-infant-bold-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-style: italic;
}

/*------------BIG DAY------------------*/
#big-day h1 {
    display: block;
    text-align: center;
    margin-bottom: 10px; /* Add some space between paragraphs */
}
#big-day p {
    display: block;
    margin-bottom: 10px; /* Add some space between paragraphs */
}

.background-image-size1 {
  width: 100vw; /* Occupy full width of the container */
  height: 100vh; /* Set the height to 200vh (2 times the viewport height) */
  object-fit: cover; /* Ensure the image covers the entire container, cropping if necessary */
  z-index: -1;
}
.background-image-size1 img {
  width: 100vw; /* Occupy full width of the container */
  height: 100vh; /* Set the height to 200vh (2 times the viewport height) */
  object-fit: cover; /* Ensure the image covers the entire container, cropping if necessary */
  z-index: -1;
}

/* RSVP button */

.rsvp-button {
    transform: translate(-50%, -50%); /* Center the button precisely */
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 4;

  }

.rsvp-button:hover {
  background-color: #842717; /* Adjust color as needed */
}



/* --------------FAQ Section-------------- */
.faq-container {
    background-color: #e0f2f1; /* Set background color */
    padding: 20px; /* Add padding */
    max-width: 400px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    z-index: 4;
    text-align: center;
}

/* FAQ item styling */
.faq-item {
    margin-bottom: 20px; /* Add margin */
}
/* Answer styling */
.answer {
    display: none; /* Hide answer by default */
}

/* Toggle styling */
.toggle {
    float: right; /* Float toggle to the right */
    cursor: pointer; /* Set cursor */
}


/* --------------Last section-------------- */
.last-section {
  padding: 50px 10px;
  text-align: left;
}

/* Toggle styling */
.toggle {
    float: right; /* Float toggle to the right */
    cursor: pointer; /* Set cursor */
}

