/* styles.css */

/* ~~~~~~~~~~Text Formatting~~~~~~~~~~*/
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 800 */


/* General styling */
body, html {
    margin: 0;
    padding: 0;
    background-color: #f5dfad; /* Set the background color */
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}

/* Section styling */
.section {
    padding: 80px 20px; /* Add padding */
    text-align: center; /* Center text */
}

/* Heading Font */
h1, h2, h4, h5, h6 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
}
h3 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*-----------HEADER-----------------*/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header appears above other content */
}

/*--------------Home----------------*/
#home {
  position: relative; /* Ensure the section is positioned relative */
}

.fullscreen-section {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  /* Remove or adjust other styles as needed */
}

/* Ensure the container has relative positioning */
.background-image {
  position: relative;
  z-index: 1;
}

/* Set the background image to cover 2x the viewport height */
.background-image img {
  width: 100%;
  min-height: 200vh;
  object-fit: cover;
  z-index: 1;
}


/* Scrollable images container */
.scrolling-images {
  position: absolute;
  /* Adjust positioning as needed */
  top: 0%; /* Example value */
  width: 100vw;
  height: 50vh;
  z-index: 2; /* Ensure images are above other content */

}

/* Adjust image styles as needed */
.scrolling-images img {
  position: absolute;
  width: 20%; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
  z-index: 2;

}


/* Positioning for specific images */
.plane {
  left: 20%; /* Adjust left position percentage for the plane */
  top: 40%; /* Adjust top position percentage for the plane */
}

.cloud { /* Left Cloud */
  right: 75%; /* Adjust right position percentage for cloud 1 */
  top: 85%; /* Adjust top position percentage for cloud 1 */
}

.cloud:nth-of-type(2) { /* Right Cloud */
  right: 10%; /* Adjust right position percentage for cloud 2 */
  top: 63%; /* Adjust top position percentage for cloud 2 */
}

.cloud:nth-of-type(3) { /* Top Center Cloud */
  right: 35%; /* Adjust right position percentage for cloud 3 */
  top: 10%; /* Adjust top position percentage for cloud 3 */
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.6s; /* Delay visibility change */
}
.show {
    opacity: 1;
    visibility: show;
    transition: opacity 0.5s ease, visibility 0s 0.6s; /* Delay visibility change */
}

/* Sticky styling */
.sticky {
    position: fixed;
    bottom: 50%; /* Center the button vertically */
    left: 50%; /* Center the button horizontally */
}
/* ---------------Heading------------ */
/* Sticky logo */
.sticky-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  align-items: center; /* Align items vertically */
}

.sticky-logo img {
  width: 50px; /* Adjust size as needed */
}

/* Sticky menu */
.sticky-menu {
  position: fixed;
  top: 0;
  right:0;
  z-index: 9999; /* Ensure the indicator is above other content */
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px 20px; /* Add padding */
  margin: 0; /* Remove any margin */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}

.sticky-menu ul {
  list-style: none;
}

.sticky-menu li {
  display: inline-block;
  margin-right: 20px;
}

.sticky-menu a {
  text-decoration: none;
  color: black; /* Adjust color as needed */
}

/*change color */
.background_color_change {

    background-color:rgb(245,223,173,.4); /* Set the background color with 50% opacity */
    padding: 15px; /* Add padding */
    animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}

#rsvp {
  position: absolute;
  bottom: 50%; /* Adjust this value as needed */
  left: 0;
  width: 50%;
  z-index: 4; /* Ensure the RSVP section appears on top of the background image */
}



.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content; /* Adjust width as needed */
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
  z-index: 11;
}
.overlay img {
  width: 100%;
  min-height: 200vh;
  object-fit: cover;
  z-index: 10;
}
.overlay-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content; /* Adjust width as needed */
  margin: 50px auto; /* Center the container */
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
  z-index: 10;
}
.angled-text-container {
  color: white;
  position: relative;
  width: fit-content; /* Adjust width as needed */
  transform: rotate(-10deg); /* Adjust rotation angle as needed */
  text-align: center; /* Center the text horizontally */
}
.angled-letter {
  display: inline-block;
  transform: rotate(4deg); /* Counter-rotate each letter to keep them straight */
  margin-right: 2px; /* Adjust spacing between letters as needed */
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  line-height: .7;
}


.fadeIn {
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}
.fadeOut {
    animation: fadeOut 1s ease forwards; /* Apply fade-in animation */
}
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity set to 0 */
    }
    to {
        opacity: 1; /* Fade in to full opacity */
    }
}

@keyframes fadeOut {
    from {
        opacity: 1; /* Start with opacity set to 0 */
    }
    to {
        opacity: 0; /* Fade in to full opacity */
    }
}
/*~~~~~~~~~~~~Fonts~~~~~~~~~~~~~~~~~~~~*/
.overlay h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.overlay p,h2,h3,h4 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;

}
h2,h4 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Use a unique and descriptive class name */

.cinzel-med {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-norm {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}


/*------------BIG DAY------------------*/
#big-day h1 {
    display: block;
    text-align: center;
    margin-bottom: 10px; /* Add some space between paragraphs */
}
#big-day p {
    display: block;
    margin-bottom: 10px; /* Add some space between paragraphs */
}

.background-image-size1 {
  width: 100vw; /* Occupy full width of the container */
  height: 100vh; /* Set the height to 200vh (2 times the viewport height) */
  object-fit: cover; /* Ensure the image covers the entire container, cropping if necessary */
  z-index: -1;
}
.background-image-size1 img {
  width: 100vw; /* Occupy full width of the container */
  height: 100vh; /* Set the height to 200vh (2 times the viewport height) */
  object-fit: cover; /* Ensure the image covers the entire container, cropping if necessary */
  z-index: -1;
}

/* RSVP button */

.rsvp-button {
    transform: translate(-50%, -50%); /* Center the button precisely */
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 4;

  }

.rsvp-button:hover {
  background-color: #842717; /* Adjust color as needed */
}



/* --------------FAQ Section-------------- */
.faq-container {

    align-items: center; /* Vertically center */
    background-color: #e0f2f1; /* Set background color */
    padding: 20px; /* Add padding */
    max-width: 370px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    z-index: 4;
    text-align: center;
}

/* Reduce margin for h2 within .faq-container */
.faq-container h2 {
  margin: 10px 0; /* Adjust margin as needed */
}
z
/* FAQ item styling */
.faq-item {
    margin-bottom: 20px; /* Add margin */
}

/* Answer styling */
.answer {
    display: none; /* Hide answer by default */
}

/* Toggle styling */
.toggle {
    float: right; /* Float toggle to the right */
    cursor: pointer; /* Set cursor */
}


/* --------------Last section-------------- */
.last-section {
  padding: 50px 10px;
  text-align: left;
}

/* Toggle styling */
.toggle {
    float: right; /* Float toggle to the right */
    cursor: pointer; /* Set cursor */
}

