/* General styling */
body {
    margin: 0;
    padding: 0;
    background-color: #f5dfad; /* Set the background color */
    font-family: "Gotu", sans-serif; /* Default font family */
    font-weight: 400;
    font-style: normal;
}
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 900 */


/* Container for the image */
.image-container {
    position: relative;
    width: 100vw; /* Make the container fill the viewport width */
    height: 100vh; /* Make the container fill the viewport height */
    overflow: hidden; /* Hide overflow content */
}

.image-container-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container-vert img {
    width: 20%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Optional spacing between images */
}

.image-container-hori {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-container-hori img {
    width: 20%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Optional spacing between images */
}

/* Fullscreen image styling */
.fullscreen-image {
    width: 100vw; /* Occupy full viewport width */
    height: 100%; /* Occupy full viewport height */
    object-fit: cover; /* Ensure the image covers the entire container, cropping if necessary */
    z-index: 1;
}


/* Header- Menu styling */
header {
    position: absolute; /* Position the header absolutely within the container */
    bottom: 0; /* Position the header at the bottom of the image container */
    left: 0; /* Ensure the header spans the entire width of its container */
    width: 100%; /* Occupy full width */
    height: 80px; /* Set a minimum height */

    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: top 0.3s ease; /* Transition effect */
    display: flex; /* Flex container */
    flex-direction: column; /* Stack header items vertically */
    align-items: center; /* Center items horizontally */



}
/*change color */
.background_color_change {

    background-color:rgb(245,223,173,.4); /* Set the background color with 50% opacity */
    padding: 15px; /* Add padding */
    animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}
/* Sticky header styling */
.sticky {
    position: fixed; /* Stick header to the top */
    top: 0; /* Position the header at the top of the viewport */
    z-index: 1; /* Ensure the indicator is above other content */
}

/* Menu */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.6s; /* Delay visibility change */
}

/* Indicator styling */
.indicator {
    position: absolute; /* Position the indicator absolutely */
    bottom: 6px; /* Position the indicator at the bottom */
    max-width: 60%; /* Ensure the indicator doesn't exceed the width of the menu item */
    width: 20px; /* Set the width of the indicator */
    height: 20px; /* Set the height of the indicator */
    transition: width 0.3s ease, left 0.7s ease; /* Transition width and left position */
    z-index: 1; /* Ensure the indicator is above other content */
    
}

/* Active menu item styling */
.active {
    color: #000000; /* Set active menu item color */
}

/* Heading font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Aboreto", system-ui; /* Set heading font family */
    font-weight: 400;
    font-style: normal;
}

/* Text overlay styling */
.text-overlay {
    position: absolute; /* Position text absolutely within the container */
    top: 50%; /* Place text at the vertical center */
    left: 50%; /* Place text at the horizontal center */
    transform: translate(-50%, -50%); /* Center text precisely */
    color: white; /* Text color */
    font-size: 2.7vw; /* Set font size */
    font-weight: bold; /* Set font weight */
    text-align: center; /* Center text horizontally */
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
    z-index: 2;
}

/* h1 { */
    /* font-size: 5vw; */
    /* font-weight: bold; */
    /* color: white; */
    /* border: 2px solid white; Add border around the text */
    /* padding: 15px; Add padding to create space between text and border */
    /* display: inline-block; Ensure border wraps around text */
/* } */

.fadeIn {
    animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}
.fadeOut {
    animation: fadeOut 1s ease forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity set to 0 */
    }
    to {
        opacity: 1; /* Fade in to full opacity */
    }
}

@keyframes fadeOut {
    from {
        opacity: 1; /* Start with opacity set to 0 */
    }
    to {
        opacity: 0; /* Fade in to full opacity */
    }
}
/* Navigation styling */
nav {
    margin-top: 10px; /* Add spacing between header title and navigation */


}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px; /* Add padding at the bottom of the menu items */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff; /* Set link color */
    text-decoration: none; /* Remove underline */
}

/* Section styling */
.section {
    padding: 80px 20px; /* Add padding */
    text-align: center; /* Center text */
}
/* Alternate background color */
.section:nth-child(even) {
    background-color:rgb(148,215,250);
}
/* Couple section styling */
.couple-section {
    padding: 0; /* Remove padding */
}

/* Couple banner styling */
.couple-banner {
    text-align: center; /* Center the image horizontally */
    overflow: hidden; /* Hide overflow */
    height:100vh;
}

.couple-photo {
    width: 100%; /* Make the image fill the width of its container */
}

.couple-rug {
    max-width: 20%;
    height: auto;
}

/* Section heading styling */
.section h2 {
    margin-bottom: 20px; /* Add margin */
    font-size: 32px; /* Set font size */
}

/* Section paragraph styling */
.section p {
    margin-bottom: 30px; /* Add margin */
}


/* RSVP form styling */
.rsvp-form {
    max-width: 300px; /* Set maximum width */
    margin: auto; /* Center horizontally */
}

.rsvp-form label {
    display: block;
    margin-bottom: 10px; /* Add margin */
}

.rsvp-form input,
.rsvp-form select,
.rsvp-form button {
    width: 100%; /* Occupy full width */
    padding: 10px; /* Add padding */
    margin-bottom: 15px; /* Add margin */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.rsvp-form button {
    background-color: #333; /* Set button background color */
}

/* FAQ container styling */
.faq-container {
    background-color: #e0f2f1; /* Set background color */
    padding: 20px; /* Add padding */
    max-width: 400px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    position: relative;
    margin-top: -10px; /* Add margin */
}

/* FAQ item styling */
.faq-item {
    margin-bottom: 20px; /* Add margin */
}

/* Answer styling */
.answer {
    display: none; /* Hide answer by default */
}

/* Toggle styling */
.toggle {
    float: right; /* Float toggle to the right */
    cursor: pointer; /* Set cursor */
}

/* Responsive styling */
@media screen and (max-width: 400px) {
    #menu {
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent line breaks */
        width: 100%; /* Set width */
        display: flex;
        padding: 0; /* Remove any padding */
        justify-content: center; /* Center horizontally */
        position: relative; /* Position */
    }
    
    #menu::-webkit-scrollbar {
        height: 10px; /* Set scrollbar height */
        background-color: transparent; /* Set scrollbar background color */
        position: absolute; /* Position */
        bottom: 0; /* Position at the bottom */
        left: 50%; /* Align horizontally */
        transform: translateX(-50%); /* Adjust position */
                z-index: 1; /* Ensure the scrollbar appears above menu items */
    }
    
    #menu::-webkit-scrollbar-thumb {
        background-color: #ccc; /* Set scrollbar thumb color */
    }
    
    #menu::-webkit-scrollbar-track {
        background-color: transparent; /* Set scrollbar track color */
    }
    
    .indicator {
        display: none; /* Hide indicator */
    }
    
    #menu li {
        margin: 0 -1px; /* Add margin between menu items */
    }
    #menu li:not(:last-child)::after {
        content: "\00B7"; /* Unicode for middle dot character */
        margin-left: 1px; /* Adjust spacing between menu items and dots */
    }
}
