/* styles.css */

/* ~~~~~~~~~~Text Formatting~~~~~~~~~~*/
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 800 */


/* General styling */
body, html {
    margin: 0;
    padding: 0;
    background-color: #f5dfad; /* Set the background color */
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}

/* Section styling */
.section {
    padding: 80px 20px; /* Add padding */

}

/* Heading Font */
h1, h2, h4, h5, h6 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
}
h2 {
  text-align: center;
}
h3 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*-----------HEADER-----------------*/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header appears above other content */
}

/*--------------Home----------------*/
#home {
  position: relative; /* Ensure the section is positioned relative */
}

.fullscreen-section {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  /* Remove or adjust other styles as needed */
}

/* Ensure the container has relative positioning */
.background-image {
  position: relative;
  min-height: 100vh;
  width:auto;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}



/* Scrollable images container */
.scrolling-images {
  position: absolute;
  /* Adjust positioning as needed */
  top: 0%; /* Example value */
  width: 100vw;
  height: 50%;
  z-index: 2; /* Ensure images are above other content */

}

/* Adjust image styles as needed */
.scrolling-images img {
  position: absolute;
  width: 15%; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
  z-index: 2;

}


/* Positioning for specific images */
.plane {
  left: 20%; /* Adjust left position percentage for the plane */
  top: 20%; /* Adjust top position percentage for the plane */
}

.cloud1 { /* Left Cloud */
  right: 67%; /* Adjust right position percentage for cloud 1 */
  top: 48%; /* Adjust top position percentage for cloud 1 */
}

.cloud2 { /* Top Center Cloud */ 
  right: 45%; /* Adjust right position percentage for cloud 2 */
  top: 9%; /* Adjust top position percentage for cloud 2 */
}

.cloud3 { /* Right Cloud */
  right: 12%; /* Adjust right position percentage for cloud 3 */
  top: 23%; /* Adjust top position percentage for cloud 3 */
}

/* Responsive font size */
@media (max-width: 768px) {
  .scrolling-images img {
    width: 17%; /* Fixed width */ /* Adjust font size for smaller screens */
  }
}
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.6s; /* Delay visibility change */
}
.show {
    opacity: 1;
    visibility: show;
    transition: opacity 0.5s ease, visibility 0s 0.6s; /* Delay visibility change */
}

/* Sticky styling */
.sticky {
    position: fixed;
    bottom: 50%; /* Center the button vertically */
    left: 50%; /* Center the button horizontally */
}
/* ---------------Heading------------ */
/* Sticky logo */
.sticky-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  align-items: center; /* Align items vertically */
}


/* Sticky menu */
.sticky-menu {
  position: fixed;
  top: 0;
  right:0;
  z-index: 9999; /* Ensure the indicator is above other content */
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px 20px; /* Add padding */
  margin: 0; /* Remove any margin */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}

.sticky-menu ul {
  list-style: none;
}

.sticky-menu li {
  display: inline-block;
  margin-right: 20px;
}

.sticky-menu a {
  text-decoration: none;
  color: black; /* Adjust color as needed */
}

/*change color */
.background_color_change {

    background-color:rgb(245,223,173,.4); /* Set the background color with 50% opacity */
    padding: 15px; /* Add padding */
    animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}

#rsvp {
  position: absolute;
  bottom: 0%; /* Adjust this value as needed */
  left: 15%;
  height: 40%;
  z-index: 4; /* Ensure the RSVP section appears on top of the background image */
}



.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content; /* Adjust width as needed */
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
  z-index: 11;
}
.overlay img {
  width: 100%;
  min-height: 200vh;
  object-fit: cover;
  z-index: 10;
}
.details-img {
  width: 12vw;
  height: auto;
}
.overlay-text {
  position: absolute;
  top: 21%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: fit-content; /* Adjust width as needed */
  margin: 50px auto; /* Center the container */
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
  z-index: 10;
}
.angled-text-container {
  color: white;
  position: relative;
  width: fit-content; /* Adjust width as needed */
  transform: rotate(-10deg); /* Adjust rotation angle as needed */
  left: 20%;
  text-align: center; /* Center the text horizontally */
  white-space: nowrap; /* Prevent wrapping */
}
.angled-letter {
  display: inline-block;
  transform: rotate(4deg); /* Counter-rotate each letter to keep them straight */
  margin-right: 2px; /* Adjust spacing between letters as needed */
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10em;
  line-height: .7;
}
.angled-letter-a {
  display: inline-block;
  transform: rotate(-3.9deg); /* Counter-rotate each letter to keep them straight */
  margin-right: -5px; /* Adjust spacing between letters as needed */
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  line-height: .7;
}
.angled-letter-r {
  display: inline-block;
  transform: rotate(-1.6deg); /* Counter-rotate each letter to keep them straight */
  margin-right: -2px; /* Adjust spacing between letters as needed */
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  line-height: .7;
}

.wedding-date {
  margin-top: 2%; /* Adjust spacing between letters as needed */
  margin-right: -25%; /* Adjust spacing between letters as needed */
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  text-align: right; /* Center the text horizontally */
  color: white;
}
/* Responsive font size */
@media (max-width: 1322px) {
  .angled-letter, .angled-letter-a, .angled-letter-r {
      font-size: 7em; /* Adjust font size for smaller screens */
  }
  .wedding-date {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
  .details-img{
    width:15vw;
    height:auto;
  }
}
@media (max-width: 768px) {
  .angled-letter, .angled-letter-a, .angled-letter-r {
      font-size: 3em; /* Adjust font size for smaller screens */
  }
  .wedding-date {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
  .details-img{
    width:30vw;
    height:auto;
  }
}


.fadeIn {
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}
.fadeOut {
    animation: fadeOut 1s ease forwards; /* Apply fade-in animation */
}
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity set to 0 */
    }
    to {
        opacity: 1; /* Fade in to full opacity */
    }
}

@keyframes fadeOut {
    from {
        opacity: 1; /* Start with opacity set to 0 */
    }
    to {
        opacity: 0; /* Fade in to full opacity */
    }
}
/*~~~~~~~~~~~~Fonts~~~~~~~~~~~~~~~~~~~~*/
.overlay h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.overlay p,h2,h3,h4 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;

}
h2,h4 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;;
}
p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;;
}

/* Use a unique and descriptive class name */

.cinzel-med {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-norm {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}


/*------------BIG DAY------------------*/
#big-day h1 {
    display: block;
    text-align: center;
    
}
.row-col-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  position: relative; /* To position the lines */
}


.wedding-timeline {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.timeline {
  position: relative;

}

.container {
  flex: 1;
  padding: 20px; /* Adjusted padding for less vertical space */
  position: relative;
  margin-bottom: -150px; /* Use negative margin to create overlap */
}

.container.left .content {
  margin-right: 20px;
  text-align: center;

}

.container.right .content {
  margin-left: 20px;
  text-align: center;

}
/* Place the container to the left */
.left {
  left: 57%;
}
/* Place the container to the right */
.right {
  right: 57%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: black;
  top: 10%;
  bottom: -25%;
  left: 50%;
  z-index: 1;
}

/* Add arrows to the left container (pointing right) */
.container.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 1;
  right: 100%;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
  text-align: left;
}

/* Add arrows to the right container (pointing left) */
.container.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 1;
  left: 100%;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

/* Responsive font size */
@media (max-width: 768px) {
  .container p {
      font-size: .83em; /* Adjust font size for smaller screens */
  }

.row-col-box {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
  
 .row-col-box .a{
    display: grid;
    gap: 15px;
    position: relative; /* To position the lines */
    grid-row: 1;
  }
 .row-col-box .b {
    margin-top:10px;
    grid-row: 2;
    margin-top: 25%;
  }
}

/*------------ Travel ------------------*/
#iframe-container {
  height: 480px; /* Set a fixed height for the container */
  width: 100%;
  overflow: hidden; /* Hide overflow content */
  position: relative; /* Required for absolute positioning */
  bottom: 10%;
}
#lazy-iframe {
  position: absolute; /* Position iframe absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*---------------IN BETWEEN SECTION ------------------*/
.background-image-size1 {
  width: 100vw; /* Occupy full width of the container */
  height: auto; /* Set the height to 200vh (2 times the viewport height) */
  object-fit: cover; /* Ensure the image covers the entire container, cropping if necessary */
  z-index: -1;
}
.background-image-size1 img {
  width: 100vw; /* Occupy full width of the container */
  min-height: 100vh; /* Set the height to 200vh (2 times the viewport height) */
  
  object-fit: cover; /* Ensure the image covers the entire container, cropping if necessary */
  z-index: -1;
}

/* RSVP button */

.rsvp-button {
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left:5%;
  bottom:20%;
  z-index: 5;
  width: 40%;
}

.rsvp-button img {
  width: 15vw;
  height: auto;
}




/* --------------FAQ Section-------------- */
.faq-container {

    align-items: center; /* Vertically center */
    background-color: #e0f2f1; /* Set background color */
    padding: 20px; /* Add padding */
    max-width: 370px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    z-index: 4;
    text-align: center;
}

/* Reduce margin for h2 within .faq-container */
.faq-container h2 {
  margin: 10px 0; /* Adjust margin as needed */
}

/* FAQ item styling */
.faq-item {
    margin-bottom: 20px; /* Add margin */
    cursor: pointer; /* Set cursor */
    z-index: 1;
    pointer-events: auto;
}

/* Answer styling */
.answer {
    display: none; /* Hide answer by default */
}


/* Toggle styling */
.toggle {
  float: right; /* Float toggle to the right */
  cursor: pointer; /* Set cursor */
}


/* --------------Last section-------------- */
.last-section {
  margin-bottom: -10px;
  padding: -10px -5px;
  text-align: left;
}
.text-content img{
  max-width: 50vw;  
  left: 50%;
  width: auto;
}

/* --------------Footer-------------- */
#footer {
  background-color: #748051; /* Adjust the background color */
  color:#fdfdf4;
  align-items: center;
  display: grid;

  gap: 10px;
  padding: 20px;
  position: relative; /* To position the lines */



}


.top-section {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fdfdf4; /* Top line */
  padding-bottom: 10px;
}

.middle-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  position: relative; /* To position the lines */
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.middle-section::before,
.middle-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fdfdf4;

}


.middle-section .left,
.middle-section .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-section .left img,
.middle-section .right img {
  width: 150px;
  height: 150px; /* Maintain aspect ratio */

  object-fit: cover;
  margin-right: 10px; /* Space between photos */
}

.middle-section .menu {
  text-align: center;
  border-left: 1px solid #fdfdf4; /* Left vertical line */
  border-right: 1px solid #fdfdf4; /* Right vertical line */
  white-space: nowrap; /* Prevent text from wrapping */
  padding: 20px 40px;

}



.middle-section .menu ul {
  list-style: none;
  padding: 0;

}

.middle-section .menu ul li {
  margin-bottom: 10px;
}

.middle-section .menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.middle-section .menu ul li a:hover {
  text-decoration: underline;
}

.bottom-section {
  grid-column: 1 / -1;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #fdfdf4; /* Bottom line */
}

@media (max-width: 930px) {
  .middle-section .left,
  .middle-section .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .middle-section .left img,
  .middle-section .right img {
  width: 70px;
  height: 70px; /* Maintain aspect ratio */
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 10px; /* Space between photos */
}

}
