#ourstory{
  margin-top:-20px;
}
#ourstory-tag {
  text-align:right;
}

#ourstory-location{
  text-align:right;
}
@media (max-width: 768px) {
  #ourstory{
    margin-top:-60px;
  }
  #ourstory-tag {
    text-align: center;
    margin-bottom:-10px; 
  }
  #ourstory-location{
    text-align: center;
    margin-bottom:-10px;
  }
}