#ourstory{
  margin-top:-20px;
}
#ourstory-tag {
  text-align:right;
}

#ourstory-location{
  text-align:right;
}
@media (max-width: 768px) {
  #ourstory{
    margin-top:-60px;
  }
  #ourstory-tag {
    margin-bottom:-10px; 
  }
  #ourstory-location{
    margin-bottom:-10px;
  }
}
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}